<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the vue</title>
</head>
<body>

<div id="root">
    <p>using v-for to render a list</p>
    <p>use v-text for binding value like {{}}</p>
    <p>list items could be changed using dev tools with 'app' element</p>

    <input type="text" v-model="newName">
    <button @click="addName">add to list</button>
    <!-- <button v-on:click="addName">add to list</button> -->
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>
</div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#root',
            data: {
                newName: '',
                names: ['lara','hana','dora','mana']
            },
            methods: {
                addName() {
                    this.names.push(this.newName);
                }
            }
        })
    </script>
</body>
</html>